# etcd backup config file
BACKUP_DIR={{ etcd_backup_dir }}
BACKUP_KEEP_DAYS={{ etcd_backup_keep_days }}
BACKUP_ARC={{ etcd_backup_arc }}
ETCD_CA_CERT_FILE={{ etcd_ca_crt }}
ETCD_ADMIN_CERT_FILE={{ etcd_node_crt }}
ETCD_ADMIN_KEY_FILE={{ etcd_node_key }}
ETCD_URL={{ etcd_client_url }}
