[Unit]
Description=SQL Exporter for mysql queues
After=network.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/bin/sql_exporter -config.file /etc/sql_exporter/sql_exporter.yml

[Install]
WantedBy=multi-user.target
